

div {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}


body {
margin: 10px;
font-family:'Times';
font-size: 12pt;
background-color: #D2B48C
}


.caption{
  font-family: Times, serif;
  font-size: 14px;
}



.navbar{
overflow: hidden;
 position: fixed;
 top: 0;
 width: 80%;
 height: 15%;
}


.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;

  padding: 14px 16px;
  text-decoration: none;
}


.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 100px;
}







.jellybeans{
  width:50%
}

img{
  width: 100%
}

.otherimg {
  width:100%


}




.pull{text-align: center;
  font-size: 25px;
}

h1 {text-align: center;
font-family: 'Merriweather', serif;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;

}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 25px
}

h3{
  font-family: 'Libre Baskerville', serif;
  font-size: 15px
}


.story_image {
  width: 155%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 30px;
  font-family: Basier, Arial, sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}

.center {
  display: block;
  margin-left: 0px;
  margin-right: 100px;
  width: 65%;
